{% extends "base.html" %}
{% load static %}

{% block title %}Painel do Administrador{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/painel/admin.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>Bem-vindo, {{ user.first_name }} Administrador</h2>
  <p>Selecione uma das opções abaixo:</p>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="{% url 'turistas:cadastro' %}">Cadastrar Turistas</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'eventos:form' %}">Cadastrar Eventos</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'relatorios:painel' %}">Visualizar Gráficos</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'parques:gerenciar_parques' %}">Cadastrar Parques</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'feiras:feiras' %}">Cadastrar Feira</a>
    </li>
  </ul>
</div>
{% endblock %}


